*{
    margin: 0px 5px;
    padding: 0px;
    box-sizing: border-box;
   }
   body{
       font-family: sans-serif;
   }   

   #size{
       position: absolute;
       top: 60%;
       left: 50%;
       transform: translateX(-50%);
       font-size: 35px;
       color: red;
   }

   .container{
height: 100vh;
   }

   .header{
display: flex;
justify-content: space-between;
height: 10%;

align-items: center;

&__logo{
font-size: 4vw;
}
&__menu{
    display: flex;
    font-size: 2.5vw;
    gap: 15px;
}
   }

   .main{
    height: 80%;
    // border: 2px solid black;
    display: flex;

    &__image{
        background-image: url('./Images/Media-Query-Project/Portrait.png');
        width: 50%;
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
        
        // border: 2px solid red;
    }
    &__text{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &-1{
            font-size: 10vw;
        }
        &-2,&-3,&-4{
            font-size: 5vw;
        }
    }
}

   .footer{
      height: 10%;
    //   border: 2px solid green;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      gap:20px;
        margin-right: 10%;
      [class^="footer__"]{
        display: flex;
        
        img{
            display: flex;
            width: 5.3vw;
        }
      }
   }
   @media (max-width:650px){
    .header{
        justify-content: center;
        &__logo{
         font-size: 40px;
        }
        &__menu{
            display: none;
        }
    }

    .main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__image{
           width: 200px;
           height: 200px;
           border-radius: 100%;
        background-size:100%;
        }
        &__text{
             width: 100%;
        &-1{
             display: none;
        }
        &-2,&-3,&-4{
            font-size: 30px;
        }
    }
    }

    .footer{
        justify-content: center;
        margin: 0px; 
        [class ^="footer__"]{
            
            img{
                
                height: 45px;
                width: 45px;
            }
        }
    }
   }

   
   